.contacts {
    padding-top: 53px;
    background-color: #EDF2EC;
}

.contacts__container {
    display: flex;
    gap: 113px;
}

.contacts__content {
    display: flex;
    flex-direction: column;
    gap: 33px;
    max-width: 709px;
    width: 100%;
}

.contacts__title {
    padding-top: 7px;
    font-weight: 700;
}

.town {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;

    max-width: 450px;
    width: 100%;
    padding-right: 35px;
}

.town:hover {
    background-color: #C1E698;
    transition: background-color 0.3s ease-in-out;
}

.town__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    padding: 7px 40px 7px 20px;
}

.town__open {
    display: block;
    width: 16px;
    height: 16px;
}
