html {
    box-sizing: border-box;

    scroll-behavior: smooth;
    
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 22.4px; */
    color: #333B41;

    position: relative;
    width: 100%;
    /* max-width: 1600px; */
    margin: 0 auto;
    /* 
    position: relative;
    scroll-behavior: smooth; */
}

img, svg {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.container {
    max-width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.button {
    width: 298px;
    height: 54px;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%; 
    text-align: center;
    text-transform: uppercase;
    transition: .36s ease-in-out;
}

.button:hover {
    background-image: linear-gradient(#E47209 100%, #E47209 100%);
    transition: .36s ease-in-out;
}

.button:active {
    background-image: linear-gradient(#4B9200 100%, #4B9200 100%);
    transition: .36s ease-in-out;
}

@media(max-width: 1002px){
    .container {
        max-width: 1000px;
        padding: 0 30px;
        margin: 0 auto;
    }
}
@media(max-width: 640px){
    .container {
        max-width: 640px;
        padding: 0 20px;
        margin: 0 auto;
    }
}