.footer {
    padding: 40px 0;
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.copyrights {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.copyrights__github:hover {
    color: #636060;
    transition: color 0.3s ease-in-out;
}

.rsshool {
    display: flex;
    justify-content: center;
}

.rsschool-link:hover {
    color: #636060;
    transition: color 0.3s ease-in-out;
}

.social__list {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.social__item {
    color: #000000;
    width: 32px;
    height: 32px;
}

.social__item:hover {
    color: #636060;
    transition: color 0.2s ease-out;
}

@media(max-width: 1440px) {
   
}

@media(max-width: 1200px) {
   
}

@media(max-width: 1000px) {
   
}

@media(max-width: 800px) {
    .footer {
        padding: 20px 0;
    }
    .footer__container {
        grid-template-columns: 12fr;
    }
    .copyrights {
        justify-content: center;
    }
    .rsshool {
        margin-top: -10px;
        align-self: center;
    }
    .social__list {
        justify-content: center;
        padding-top: 10px;
    }
}

@media(max-width: 580px) {
    .footer {
        padding: 22px 0 7px;
    }
    .footer__container {
        line-height: 24px;
    }
    .copyrights {
        margin-bottom: 10px;
        margin-left: -3px;
    }
    .rsshool {
        padding-top: 15px;
    }
    .social__list {
        padding-top: 13px;
    }
}