.header {
    padding: 42px 0px;
    background-color: #EDF2EC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    gap: 2px;
    justify-self: flex-start;
    padding-left: 1px;
}

.logo__image {
    display: block;
    margin-top: -5px;
    width: 20px;
    height: 20px;
}

.logo__title {
    font-family: 'Inika';
    line-height: 21px;    
    color: #000000;
}


@media(max-width: 1440px) {
   
}

@media(max-width: 1200px) {
   
}

@media(max-width: 1000px) {
    .header {
        padding: 35px 0px;
    }
    .header__logo {
        gap: 1px;
        padding-left: 3px;
    }
}

@media(max-width: 480px) {
    .header {
        padding: 33px 0px;
    }
    .header__logo {
        gap: 1px;
        padding-left: 0px;
    }
    .logo__title {
        margin-left: -1px;
        padding-top: 6px;
    }
    .logo__image {
        margin-top: 2px;
    }
}

