.welcome {
    padding: 62px 0 62px;
    background-color: #EDF2EC;
}

.welcome__container {
    display: flex;
    justify-content: space-between;
}

.welcome__picture {
    line-height: 0;
}

.welcome__description {
    max-width: 549px;
}

.welcome__title {
    padding-top: 36px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-bottom: 45px;
}

.welcome__title-color {
    color: #499A18;
}

.welcome__text {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 48px;
}

.welcome__button {
    border-radius: 10px;
    padding: 10px 26px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 28px;
    background-color: inherit;
}

.button {
    border: 2px solid #E06733;
}

.welcome__button:hover {
    color: #FFFFFF;
    background-color: #E06733;
    transition: color 0.4s ease-in-out, background-color 0.3s ease-in-out;
}

@media(max-width: 1440px) {
    .welcome__image {
        object-fit: contain;
    }
}

@media(max-width: 1000px) {
    .welcome {
        padding: 0;
    }
    .welcome__description {
        order: 0;
        max-width: 346px;
        padding-left: 2px;
    }
    .welcome__title {
        font-size: 35px;
        margin-bottom: 32px;
    }
    .welcome__text {
        font-size: 16px;
        line-height: 25px;
        padding-left: 6px;
        margin-bottom: 34px;
    }
    .welcome__picture {
        padding-top: 38px;
        order: 1;
    }
    .welcome__image {
        width: 280px;
        height: 254px;
    }    
    .welcome__button {
        margin-bottom: 70px;
    }
}

@media(max-width: 580px) {
    .welcome__container {
        flex-direction: column;
    }
    .welcome__description {
        max-width: 330px;
        padding-top: 0;
        padding-left: 0px;
    }
    .welcome__title {
        margin-top: -7px;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .welcome__text {
        font-size: 16px;
        line-height: 25px;
        padding-left: 0px;
        margin-bottom: 25px;
    }
    .welcome__picture {
        display: none;
    }    
    .welcome__button {
        padding: 6px 16.5px;
        font-size: 10px;
        margin-bottom: 28px;
    }
    .welcome__button {
        margin-bottom: 23px;
    }
}